<!DOCTYPE HTML>
<html>
<head>
    <title>
        The Move
    </title>

    <style>
        tr, td{
            border: black 1px solid;
        }
        ul{
            list-style-type: none;
            width: 33:33%;
        }
    </style>
</head>


<body>
    <h1>The Move</h1>

    <nav>
        <ul>
            <li>Data Types</li>
            <li>Data Structures</li>
            <li>Algorithms</li>
            <li>OOP</li>
            <li>Front-End Architecture</li>
            <li>Design Patterns</li>
            <li>Other</li>
        </ul>
    </nav>

    <hr />

    <table>
        <thead>
            The Move
        </thead>
        <tr>
            <th>
                Section
            </th>
            <th>
                Data Structures and Algos
            </th>
            <th>
                Design
            </th>
            <th>
                Front-End
            </th>
            <th>
                Back-End
            </th>
            <th>
                Databases
            </th>
            <th>
                Other
            </th>
        </tr>

        <tr>
            <td>
                One
            </td>
            <td>
                Two
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
        </tr>

        <tr>
            <td>
                One
            </td>
            <td>
                Two
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
            <td>
                Three
            </td>
        </tr>

    </table>


</body>
</html>
