<!DOCTYPE HTML>
<html>
<head>
    <title>
        The Move
    </title>
</head>


<body>


    <h1>The Move</h1>

    <nav>
        <ul>
            <li>Schedule</li>
            <li>Data Structures</li>
            <li>Algorithms</li>
            <li>OOP</li>
            <li>Front-End Architecture</li>
            <li>Design Patterns</li>
            <li>Other</li>
        </ul>
    </nav>
    
    
    <table class="container">
        <thead>This is our table</thead>
        <tr>
            <th>One</th>
            <th>Two</th>
            <th>Three</th>
            <th>Four</th>
        </tr>
        
        <tr>
            <td>One
            </td>
             <td>Two
            </td>
             <td>Three
            </td>
             <td>Four
            </td>
        </tr>
        
    </table>


</body>
</html>
