<!DOCTYPE HTML>
<html>
<head>
    <title>
        Schedule
    </title>
</head>


<body>


    <h1>The Move</h1>

    <nav>
        <ul>
            <li>Schedule</li>
            <li>Data Structures</li>
            <li>Algorithms</li>
            <li>OOP</li>
            <li>Front-End Architecture</li>
            <li>Design Patterns</li>
            <li>Other</li>
        </ul>
    </nav>


</body>
</html>
