@{
    ViewData["Title"] = "Big O Notation";
}

<h3>@ViewData["Message"]</h3>

<div class="container">
    <h3>Measuring Big-O Runtime Efficiencies</h3>
    <div class="">
        <p class="">Paragraph on Big-O</p>
        <img class="img-responsive" src="https://pbs.twimg.com/media/CnCqdu-VIAEsbZZ.jpg" style="height: 30em; width: auto;" />
        <img class="img-responsive" src="http://www.smashcompany.com/wp-content/uploads/2016/09/Screen-Shot-2016-09-05-at-12.25.18-AM.png" style="height: 30em; width: auto;" />
    </div>
</div>

<div class="container">

</div>

<div class="container">

</div>
