@{
    ViewData["Title"] = "Front-End";
}
<h3>@ViewData["Message"]</h3>
<div class="container">
    <p>The essential technologies involved in a front end architecture are HTML, CSS, JavaScript</p>
</div>

<div class="HTML">HTML</div>
HTML elements usually consist of a start tag and an end tag <></>
The element specifies what kind of properties you want the text, images, etc. to inherently possess.
Each element can contain attributes that customize or adjust the item to the exact location and design
Inline and Javascript can be placed in attributes for each element
Come common HTML elements are <p></p>, <h1></h1>, and <div></div>

<div class="CSS">CSS</div>
CSS stands for cascading style sheets. 
It is a way of adding more design properties and adjusting location and transformation properties like height with and z-index

css rules look like this h1 {color:black;}
The element is first specified followed by curly braces with a code block that is executed

<div class="JavaScript">JavaScript</div>
JavaScript can change HTML elements dynamically.
An understanding of data types, functons, objects, and data structures is key to using JavaScript properly. 
JavaScript allows you to manipulate code with libraries with code that can make your code more dynamic