<!DOCTYPE HTML>
<html>
<head>
    <title>
        The Move
    </title>

    <style>
        table{
            
        }

        th{
            font-size: 1.5em;
        }

    </style>
</head>


<body>
<<<<<<< HEAD
    <p>this is Will's bitch</p>

=======

    <p>Suc it</p>
>>>>>>> 875d8d33476014db755fd403693489dede1a59b5
    <h1>The Move</h1>
        <p>This is a buitch</p>
    <p>This is Master's Bitch</p>
    
    
    <table class="container table">
        <thead>Schedule</thead>
        <tr>
            <th>Section</th>
            <th>DS&A</th>
            <th>OOP Fund</th>
            <th>Design Patterns</th>
            <th>Front End Architecture</th>
            <th>Other</th>
        </tr>

        <tr>
            <td>
                11/24 - 12/15
            </td>
            <td>
                Strings/Arrays
            </td>
            <td>
                Four Pillars & Program to Interface not Implementation
            </td>
            <td>
                Factory Method & Strategy
            </td>
            <td>
                Five
            </td>
            <td>
                Stack vs Heap Memory
            </td>
        </tr>

        <tr>
            <td>
                12/15 - 1/5
            </td>
            <td>
               Linked Lists
            </td>
            <td>
                Single Responsibility & Open Closed Principle
            </td>
            <td>
                Adapter & Observer
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

        <tr>
            <td>
                1/5 - 1/26
            </td>
            <td>
                Stacks and Queues
            </td>
            <td>
                Liskov Substitution & Interface Segregation
            </td>
            <td>
                Abstract Factory & Decorator
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

        <tr>
            <td>
                1/26 -2/16
            </td>
            <td>
                Hash Tables
            </td>
            <td>
                Dependency Inversion 
            </td>
            <td>
                Template & Composite
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

        <tr>
            <td>
                2/16 - 3/9
            </td>
            <td>
                Trees
            </td>
            <td>
                Three
            </td>
            <td>
                Chain of Responsibility & Singleton
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

        <tr>
            <td>
                3/9 - 3/30
            </td>
            <td>
                Heaps
            </td>
            <td>
                Three
            </td>
            <td>
                State & Builder
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

        <tr>
            <td>
                3/30 - 4/20
            </td>
            <td>
                Graphs
            </td>
            <td>
                Three
            </td>
            <td>
                Dependency Injection & Pub Sub
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

        <tr>
            <td>
                4/20- 5/11
            </td>
            <td>
                Recursion
            </td>
            <td>
                Three
            </td>
            <td>
                Scheduler & Visitor
            </td>
            <td>
                Five
            </td>
            <td>
                Six
            </td>
        </tr>

    </table>


</body>
</html>
